[Unit]
 Description=Запускает сокет для общения с камерой
 After=network-online.target multi-user.target
 Wants=network-online.target

[Service]
 User=orangepi
 WorkingDirectory=/home/orangepi/ros2_ws/
 ExecStart=/home/orangepi/ros2_ws/src/eurus_edu/scripts/start_edu_camera_socket.sh
 TimeoutStopSec=2
 Restart=always
 RestartSec=1

[Install]
 WantedBy=multi-user.target