SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0abd", ATTRS{idProduct}=="8050", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="imx335-camera", RUN+="/home/orangepi/ros2_ws/src/eurus_edu/scripts/imx335_setup.sh %k"